body
{
  background-color: #dedede;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  user-select: none;
}

div
{
  position: relative;
  box-sizing: border-box;
}

#game
{
  width: 40%;
  height: 90%;
  left: 30%;
  top: 5%;
}

.colorBox
{
  width: 42.5%;
  height: 42.5%;
  border-radius: 10px;
}

#colorsContainer
{
  width: 100%;
  height: 95%;
  background-color: #111111;
}

#greenBox
{
  background-color: #00AA00;
  left: 5%;
  top: 5%;
}

#redBox
{
  background-color: #AA0000;
  left: 52.5%;
  bottom: 37.5%;
}

#yellowBox
{
  background-color: #AAAA00;
  left: 5%;
  bottom: 32.5%;
}

#blueBox
{
  background-color: #0000AA;
  left: 52.5%;
  bottom: 75%;
}

#menu
{
  width: 100%;
  height: 5%;
  text-align: center;
  background-color: #666666;
  table-layout: fixed;
  color: white;
  border: 2px solid black;
}

#startButton
{
  background-color: #DD99FF;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
}
